body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0 1%;
}

.top_bar nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
nav h1 {
    font-weight: normal;
    margin-left: 5px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
    cursor: pointer;
}

.github {
    margin-right: 10px;
}

.line {
    position:absolute;
    width: 100%;
    height: auto;
    left: 0px;
    bottom:0px;
    z-index: -1;
}

.projects h1 {
    margin-left:20px;
    font-weight: bold;
    font-size: 50px;
}

.projects ul {
    list-style-type: none;
}

.projects img {
    height: 450px;
    width: 280px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.projects img:hover { transform: scale(1.05); }